@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
  font-family: 'Poppins',sans-serif;
  scroll-behavior: smooth;
}

body {
  background: #BFBDC3 !important;
}

ul {
  padding: 0 !important;
}

li {
  list-style: none;
}

button{
  &:hover{
    background: transparent;
  }
}

::-webkit-scrollbar {
  width: 7px;
}

::-webkit-slider {
  border-radius: 20px;
}

::-webkit-scrollbar-thumb {
  margin: 10px;
}

::-webkit-scrollbar-track {
  background: #fff;
}

::-webkit-scrollbar-thumb {
  background: #D4465A;
}

::-moz-selection, ::selection {
  background: rgba(54, 54, 54, 0.479);
}

.btn-1 {
  position: relative;
  color: #fff;
  font-size: 16px;
  padding: 7px 20px;
  background: #D4465A;
  border: 0;
  border-radius: 30px;
  overflow: hidden;
  z-index: 1;
  -webkit-transition: all 0.6s ease-in-out;
  transition: all 0.6s ease-in-out;

  &:after {
    content: '';
    position: absolute;
    width: 0;
    height: 100%;
    border-radius: 30px;
    background-color: #BFBDC3;
    bottom: 0;
    left: 0;
    overflow: hidden;
    z-index: -1;
    -webkit-transition: all 0.6s ease-in-out;
    transition: all 0.6s ease-in-out;
  }

  &:hover {
    color: #fff;

    &:after {
      width: 100%;
    }
  }
}

.nav {
  width: 100%;
  height: 56px;
  background: #fff;
  padding: 7px 0;
  z-index: 999;
  -webkit-transition: all 0.6s ease-in-out;
  transition: all 0.6s ease-in-out;

  &.sticky {
    position: fixed;
    -webkit-box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    background: #fff;
    -webkit-transition: all 0.6s ease-in-out;
    transition: all 0.6s ease-in-out;
  }

  .logo h2 {
    font-size: 24px;
    margin: 0;
    font-weight: 700;
    color: #222;

    span {
      color: #D4465A;
    }
  }

  .search-bar {
    background: #BFBDC3;
    border-radius: 30px;

    i {
      font-size: 24px;
      color: #333;
    }

    input {
      background: transparent;
      width: 100%;
      border: 0;
      outline: none;
      margin: 0 10px;

      &[type=search] {
        color: #222;
        background: transparent;
      }
    }
  }

  .create {
    .btn-1 {
      margin-right: 20px;
    }

    .profile-img{
      &:active{
        background: transparent;
      }

      img {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      -o-object-fit: cover;
      object-fit: cover;
      }
    }
  }
}

@media screen and (max-width: 400px) {
  .nav .create .btn-1 {
    margin-right: 5px;
  }
  
  .nav .create .btn-1 {
    display: none;
  }
}


.main {
  position: relative;
  top: 2rem;
  height: 100%;
}

.main-left {
  height: 100%;
}

.profile {
  background: #fff;
  border-radius: 10px;

  .profile-img {
    padding: 10px;
    width: 80px;
    height: 80px;

    img {
      border-radius: 50%;
    }
  }
}

.main-left ul {
  background: #fff;
  border-radius: 10px;
  z-index: 1;

  li {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 20px;
    -webkit-transition: all 0.6s ease-in-out;
    transition: all 0.6s ease-in-out;
    overflow: hidden;

    &:after {
      content: '';
      position: absolute;
      width: 5px;
      height: 100%;
      background: #D4465A;
      left: -5px;
      z-index: -1;
      -webkit-transition: all 0.6s ease-in-out;
      transition: all 0.6s ease-in-out;
    }

    &:hover:after {
      left: 0;
    }

    &:first-child:after {
      border-top-left-radius: 10px;
    }

    &:nth-child(6):after {
      border-bottom-left-radius: 10px;
    }

    button {
      border: 0;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      color: #333;
      background: transparent;
      font-size: 17px;
      font-weight: 600;
      -webkit-transition: all 0.6s ease-in-out;
      transition: all 0.6s ease-in-out;

      a {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        color: #333;
        text-decoration: none;
      }

      i {
        margin-right: 30px;
      }
    }
  }
}

@media screen and (max-width: 991px) {
  .main-left ul {
    -ms-flex-pack: distribute;
    justify-content: space-around;

    li {
      &:after {
        width: 100%;
        height: 5px;
        background: #D4465A;
        bottom: -5px;
        z-index: -1;
        -webkit-transition: all 0.6s ease-in-out;
        transition: all 0.6s ease-in-out;
      }

      &:hover:after {
        bottom: 0;
      }

      &:first-child:after {
        border-top-left-radius: 0;
      }

      &:nth-child(6):after {
        border-bottom-left-radius: 0;
      }

      button {
        i {
          margin-right: 0;
        }

        span {
          display: none;
        }
      }
    }
  }
}

@media screen and (max-width: 430px) {
  .main-left ul li {
    padding: 10px;
  }
}

@media screen and (max-width: 330px) {
  .main-left ul li {
    padding: 10px 5px;

    &:last-child {
      margin-right: 0;
    }
  }
}

.profile-info-page {
  .profile-info-top {
    background: #BFBDC3;
    padding-left: 10px;
    margin-bottom: 10px;
    border-radius: 10px;

    .profile-info-img {
      width: 50px;
      height: 50px;

      img {
        border-radius: 50%;
      }
    }
  }

  table {
    width: 100%;
    background: #BFBDC3;
    border-radius: 10px;
    padding: 10px;

    tr {
      display: block;
      margin: 10px 0;

      th {
        color: #222;
        width: 140px;
      }

      td {
        font-weight: 500;
      }
    }

    @media screen and (max-width: 425px) {
      tr{
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        font-size: small;
        
      }
    }
  }
}

.story-bar {
  height: 200px !important;
  margin: 0 10px;
  position: relative;

  .story-img {
    position: relative;
    height: 200px !important;

    img {
      width: 100%;
      height: 100%;
      -o-object-fit: cover;
      object-fit: cover;
      border-radius: 10px;
    }
  }

  .story-heading {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    padding: 5px;
    z-index: 2;

    &:after {
      content: '';
      position: absolute;
      border-radius: 10px;
      width: 100%;
      top: 0;
      left: 0;
      height: 100%;
      background: #333;
      opacity: 0.4;
      z-index: 1;
    }

    .account-img {
      width: 50px;
      height: 50px;
      z-index: 2;

      img {
        width: 100%;
        height: 100%;
        border-radius: 50%;
        border: 5px solid #D4465A;
      }
    }

    h5 {
      font-size: 18px;
      color: #fff;
      font-weight: 400;
      letter-spacing: 2px;
      z-index: 2;
    }
  }
}

.comment {
  margin: 10px 0;

  form label {
    background: #fff;
    padding: 5px;
    border-radius: 40px;

    img {
      width: 40px;
      height: 40px;
      margin-right: 10px;
      border-radius: 50%;
    }

    input {
      width: 100%;
      outline: none;
      border: 0;
      margin: 0 10px;

      &[type=text] {
        color: #222;
        background: #fff;
      }
    }

    .button-page {
      width: -webkit-fit-content;
      width: -moz-fit-content;
      width: fit-content;
    }
  }
}

@media screen and (max-width: 410px) {
  .comment form label {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    border-radius: 10px;
    padding: 10px;

    .button-page {
      margin-top: 10px;
      width: 100%;

      .btn-1 {
        width: 100%;
      }
    }
  }
}

.feeds {
  background: #fff;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 10px;

  .feeds-heading {
    .account-img {
      width: 60px;
      height: 60px;
      margin-right: 10px;

      img {
        border-radius: 50%;
        -o-object-fit: cover;
        object-fit: cover;
      }
    }

    .account-heading {
      h4 {
        margin-bottom: 5px;
        font-size: 18px;
        color: #222;
        font-weight: 600;
      }

      span {
        font-size: 14px;
        color: #555;
        font-weight: 500;
      }
    }

    .menu button {
      color: #222;
      display: inline;
    }
  }

  .feeds-body {
    .feeds-img {
      position: relative;

      img {
        border-radius: 10px;
      }

      .img-button {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;

        button {
          position: absolute;
          background: rgba(255, 255, 255, 0.397);
          width: 0;
          height: 0;
          opacity: 0;
          margin: auto;
          border-radius: 10px;
          left: 0;
          right: 0;
          top: 0;
          bottom: 0;
          font-size: 60px;
          color: #222;
          -webkit-transition: all 0.6s ease-in-out;
          transition: all 0.6s ease-in-out;
        }

        &:hover button {
          width: 100%;
          height: 100%;
          opacity: 1;
        }
      }
    }

    .action-buttons {
      margin-top: 10px;

      .bookmarks-buttons span, .interaction-buttons span {
        font-size: 20px;
        color: #222;
        -webkit-transition: all 0.4s ease-in-out;
        transition: all 0.4s ease-in-out;
      }

      .bookmarks-buttons span:hover, .interaction-buttons span:hover {
        color: #D4465A;
        cursor: pointer;
      }
    }
  }

  .feeds-footer {
    .feeds-like .feeds-account-img .feeds-img {
      width: 100%;

      div {
        width: 50px;
        height: 50px;

        img {
          width: 100%;
          border: 5px solid #fff;
          border-radius: 50%;
        }

        &:nth-child(2), &:nth-child(3) {
          margin-left: -10px;
        }
      }
    }

    .feeds-comments p {
      color: #222;
      font-weight: 300;
      font-size: 14px;
      letter-spacing: 1px;
    }

    .feeds-like .feeds-freinds p {
      color: #222;
      font-weight: 300;
      font-size: 14px;
      letter-spacing: 1px;

      b {
        font-weight: 600;
      }
    }
  }
}

@media screen and (max-width: 440px) {
  .feeds .feeds-footer {
    .feeds-comments p, .feeds-like .feeds-freinds p {
      font-size: 10px;
    }
  }
}

@media screen and (max-width: 330px) {
  .feeds .feeds-heading {
    .account-img {
      width: 50px;
      height: 50px;
    }

    .account-heading {
      h4 {
        font-size: 16px;
      }

      span {
        font-size: 12px;
      }
    }

    .menu button i {
      font-size: 20px;
    }
  }
}

.feeds-modal img {
  border-radius: 10px;
}

.message-bar{
  background: #fff;
  padding: 20px;
  border-radius: 10px;

  .message-title {
    margin-bottom: 10px;
      
    h2 {
      font-size: 18px;
      color: #222;
      font-weight: 600;
    }

    button i {
      font-size: 25px;
      color: #222;
      transition: all 0.4s ease-in-out;

      &:hover{
        color: #D4465A;
      }
    }
  }

  .message-search {
    label i{
      font-size: 20px;
      color: #222;
      padding-right: 5px;
    }

    label input{
      width: 100%;
      border: 0;
      outline: 0;
    }
  }

  .message-contact-bar{
    .contact-message{
      margin: 10px 0;

      .contact-img{
        position: relative;
        width: 50px;
        height: 50px;
        margin-right: 10px;

        img{
          border-radius: 50%;
        }

        .active{
          position: absolute;
          width: 15px;
          height: 15px;
          background: rgb(0, 255, 21);
          bottom: 2px;
          right: 1px;
          border: 3px solid #fff;
          border-radius: 10px;
        }
      }
      .contact-heading{
        h4{
          font-size: 15px;
          color: #222;
          font-weight: 600;
        }
        
        span {
          font-size: 12px;
          color: #555;
        }
      }
    }
  }
}

.request{
  margin: 10px 0;

  .request-title{
    margin-bottom: 10px;

    h4{
      font-size: 17px;
      font-weight: 700;
      color: #555;
    }
  }

  .request-items{
    background: #fff;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 10px;    

    .request-item{
      margin-bottom: 10px;

      .request-img{
      width: 50px;
      height: 50px;
      margin-right: 10px;

        img{
          width: 100%;
          height: 100%;
          border-radius: 50%;
        }
      }

      .request-heading{
        h4{
          margin: 0;
          font-size: 17px;
          font-weight: 600;
          color: #222;
        }

        span{
          color: #555;
          font-size: 14px;
        }
      }
    }

    .request-button{
      .btn-1{
        margin-right: 10px;

        &:last-child{
          background: #BFBDC3;

          &:after{
          background: #D4465A;
          }
        }
      }
    }
  }
}

.drop a {
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;

  &:active {
    background: #D4465A;
  }
}

.modal-body{
  position: relative;
}

.message-bar{
  .message-heading{
    .message-account{
      background: #BFBDC3;
      padding: 10px;
      margin-bottom: 10px;
      border-radius: 10px;
      
      .account-img{

        img{
          width: 50px;
          height: 50px;
          border-radius: 50%;
        }

        .account-heading{
          margin-left: 10px;

          h4{
            font-size: 15px;
            font-weight: 600;
            color: #222;
          }

          span{
            font-size: 13px;
            color: #555;
          }
        }
      }
      .call-page{
        
        i{
          font-size: 25px;
          color: #222;
          cursor: pointer;
          transition: all 0.4s ease-in-out;

          &:nth-child(1){
            margin-right: 5px;
          }

          &:hover{
            color: #D4465A;
          }
        }
      }

      @media screen and (max-width: 400px) {
        .account-img{
          img{
            width: 40px;
            height: 40px;
          }

          .account-heading{
            h4{
              font-size: 13px;
            }

            span{
              font-size: 11px;
            }
          }
        }
      }
      @media screen and (max-width: 350px) {
        .account-img{

          img{
            display: none;
          }
        }
        .call-page{
          i{
            font-size: 21px;
  
            &:nth-child(1){
              margin-right: 2px;
            }
          }
        }
      }
    }

    .message-items{
      .contact{
        background: #a5a5a5!important;
      }
      
      .message-item{
        background-color: #BFBDC3;
        margin: 10px 0;
        padding: 10px;
        border-radius: 10px;
        margin-left: auto;
        
        &:nth-child(2),
        &:nth-child(4){
          margin-left: 0;
          margin-right: auto;
        }

        .item-img{
            width: 50px;
            height: 50px;

          img{
            width: 100%;
            height: 100%;
            border-radius: 50%;
          }
        }

        .item-heading{
          margin: 0 10px;

          p{
            font-size: 16px;
            color: #222;
            font-weight: 500;
            margin-bottom: 0;
          }

          span{
            color: #555;
          }

          
        }
      }

      @media screen and (max-width: 991px) {
        .message-item{
          margin-left: 0;

         &:nth-child(2),
         &:nth-child(4){
          margin-left: 0;
          margin-right: 0;
          }
        }
      }
      @media screen and (max-width: 520px) {
        .message-item{
          .item-img{
            img{
              width: 50px;
            }
          }
          .item-heading{
            p{
              font-size: 14px;
            }
            span{
              font-size: 12px;
            }
          }
        }
      }

      @media screen and (max-width: 330px) {
        .message-item{
          .item-img{
            img{
              width: 40px;
              height: 40px;
            }
          }
          .item-heading{
            p{
              font-size: 11px;
            }
            span{
              font-size: 10px;
            }
          }
        }
      }
    }
    .messages-box{
      width: 100%;
      background: #BFBDC3;
      border-radius: 10px;
      padding: 10px;

      form{

        label{
          margin-bottom: 0;
          input{
            width: 100%;
            padding: 10px;
            border: 0;
            outline: 0;
            border-radius: 10px;
            margin-right: 10px;
          }

          i{
            color: #333;
            font-size: 25px;
            margin-right: 5px;
            cursor: pointer;
            transition: all 0.4s ease-in-out;

            &:hover{
              color: #D4465A;
            }
          }
        }
      }
    }
  }
}

.market{
  .market-box{
    padding: 10px;
    background: #BFBDC3;
    margin-bottom: 24px;
    border-radius: 10px;
    .market-img{
      margin-bottom: 10px;
      img{
        width: 100%;
        height: 100%;
        border-radius: 10px;
      }
    }

    .market-heading {
      .btn-1{

        &:hover{
          color: #222;
        }
        &::after{
          background-color: #fff;
        }
      }
    }
  }
}